.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px 0px;

    background-color: rgba(35, 102, 168, 0.2);

    & h1 {
        font-family: 'Indie Flower', cursive;
        font-size: 40px;
    }
}

.loginBlock a {
    color: white;
    font-size: 18px;
}

.iconHeader {
    width: 55px;
    height: 50px;
}

.logBtn {
    font-size: 18px;
}

.loginName {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
}