.nav {
    width: 250px;
    margin-left: 30px;

    background-color: rgba(35, 102, 168, 0.2);
}

.nav__item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.nav__item:hover {
    color: rgb(0, 255, 200);
    background-color: rgba(146, 182, 184, 0.377);
}

.active {
    color: rgb(0, 238, 255);
    background-color: rgba(146, 182, 184, 0.377);
}