.nav {
    grid-area: n;
    background-color: burlywood;
  }

.nav__item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}

.nav__item:hover {
    color: rgb(0, 255, 200);
    background-color: rgba(146, 182, 184, 0.377);
}

.active {
    color: rgb(0, 238, 255);
    background-color: rgba(146, 182, 184, 0.377);
}