.mainPhoto {
    width: 100%;
    border-radius: 50px;
}

.contact{
    padding: 5px;
}

.photoSetting {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.profileWrapper {
    display: flex;
    justify-content: space-between;
}

.downloadPhoto {
    width: 100%;
    margin: 10px;
}

.downloadPhoto input[type="file"] {
    width: 0px;
    height: 0px;
  }

.info {
    width: 100%;
    margin: 0px 20px;

    background-color: white;
    border-radius: 20px;
}

.status {
    padding: 10px;
    font-size: 18px;
}

.statusInput {
    width: 300px;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

.editStatus {
    cursor: pointer;
}

.profileInfo {
    padding: 0px 0px 5px 10px;
}

.jobChek {
    display: flex;
}